<!DOCTYPE html>
<html>
<head>
	<title>CSS Playground</title>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>

<h1>Drawing a simple face in CSS.</h1>
<h2>Step 1: Make the circle</h2>
<div class="face">
</div>

<h2>Step 2: Add a left eye</h2>
<div class="face">
  <div class="lefteye"></div>
</div>

<h2>Step 3: Add a right eye</h2>
<div class="face">
  <div class="lefteye"> </div>
  <div class="righteye"> </div>
</div>

<h2>Step 4: Add a mouth</h2>
<div class="face">
  <div class="lefteye"> </div>
  <div class="righteye"> </div>
  <div class="mouth"></div>
</div>

<h2>Step 5: Add inner eyes</h2>
<div class="face">
  <div class="lefteye"><div id="inner"></div></div>
  <div class="righteye"><div id="inner"></div></div>
  <div class="mouth"></div>
</div>

<h2>Step 5: Add other stuff - Still need to do this.</h2>
<div class="face">
  <div class="lefteye">
    <div id="inner"></div>
    <div class = "eyeBrow"></div>
  </div>
  <div class="righteye">
    <div id="inner"></div>
    <div class = "eyeBrow"></div>
  </div>
  <div class="mouth">
    <div class="tongue"></div>
  </div>
  <div class = "goatee"></div>
</div>

	
</body>
</html>